@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div>


    <h2 class="text-danger">Error code: </h2> <strong class="text-info">@Model.Error.Code</strong>
    <h1 class="text-danger">Error message: </h1><strong class="text-info">@Model.Error.Message</strong>
</div>
